:root {
    --primary-color: #ff9500;
    --secondary-color: #df8303;
    --tertiary-color: #ffeacc;
    --forth-color: #f1f1f3;
    --fifth-color: #f7f7f7c6;
    --sixth-color: #f7f7f7;
}

/* <=========== COURSES PAGE STARTS HERE ===========> */
.container_courses {
    height: 250px;
}

.vertical_line {
    width: 100%;
    height: 2px !important;
    background-color: rgb(215, 213, 213);
    display: inline-block;
}

.courses_top_content h2 {
    line-height: 150%;
}

.courses_head {
    width: 81%;
}

.image_gallery {
    padding: 0 !important;
}

.image_box {
    padding: 12px 8px;
}

.image_box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.courses_page_tutor {
    padding: 0 7px !important;
    gap: 10px;
}

.course_tutor_name p {
    font-weight: 500;
}

.course_detail {
    margin-left: 8px;
    padding: 8px 12px;
    border: 2px solid #f7f7f7;
    border-radius: 6px;
}

.curriculumBox {
    padding: 8px 12px;
    border-bottom: 2px solid #f7f7f7;
}

.course_detail_box {
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.detailBox {
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.detailBox:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    right: 0;
    top: 50%;
    width: 1px;
    height: 125px;
    background-color: #f1f1f3;
    transform: translateY(-50%);
}

.btn_courses {
    background-color: #f7f7f7c6;
    padding: 12px 16px !important;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #f7f7f7c6;
    box-shadow: -1px 14px 18px rgba(166, 209, 249, 0.28);
    transition: .6s;
}

.btn_courses:hover {
    background-color: var(--secondary-color);
    color: white;
    box-shadow: -1px 14px 18px rgba(0, 0, 0, 0.11);
}

.course_footer {
    margin-top: 5rem !important;
}


/* SECTION COURSE PAGE OPEN */
.course_schedule h6 {
    margin: 0 !important;
    line-height: 150%;
    font-weight: 500;
    font-size: 12px;
}

.courses_page_content {
    background-color: white;
    padding: 15px 25px;
    border-radius: 6px;
}

.course_class {
    margin: 12px 8px;
    padding: 13px 10px;
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    transition: .5s;
}

.course_time {
    padding: 7px 7px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 6px;
    transition: .5s;
}

.course_class:hover {
    border: 2px solid var(--tertiary-color);
    box-shadow: 1px 1px 10px var(--tertiary-color);
}

.course_class:hover .course_time {
    background-color: var(--tertiary-color);
}

.text_color {
    color: #656567;
}

.courseMin {
    font-size: 11px;
    margin: 0 !important;
}

/* SECTION ABOUT */
.achieve_content {
    background-color: white;
    min-height: 200px;
    padding: 20px 25px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.achieve_icon_box {
    height: 40px;
    width: 40px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    background-color: #fff9f0;
    border: 1px solid #ffeacc;
    border-radius: 6px;
}

.achieve_icon_box img {
    width: 45%;
    height: auto;
    object-fit: cover;
}

.about_head {
    width: 68%;
}

.about_box {
    position: relative;
    padding: 8px;
    z-index: 999;
}

.about_box span {
    color: var(--primary-color);
}

.about_container {
    position: relative;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    padding: 2rem;
}

.about_img {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 28%;
    max-width: 360px;
    transform: translateY(-50%);
    z-index: 0;
}

.about_img img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.about_container>*:not(.about_img) {
    position: relative;
    z-index: 2;
}

.btn_about {
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    padding: 10px 15px !important;
}

.btn_about:hover {
    background-color: var(--secondary-color);
    color: white;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form input,
form textarea {
    padding: 15px !important;
    font-size: 13px !important;
    color: #656567 !important;
    margin: 8px 0 !important;
    background-color: #fcfcfc !important;
    border: 2px solid #f7f7f7 !important;
}

form input:focus,
form textarea:focus {
    border: 2px solid var(--tertiary-color) !important;
    box-shadow: 1px 1px 10px var(--tertiary-color) !important;
}

.contact_box {
    background-color: #fcfcfc;
    border: 2px solid #f7f7f7 !important;
    border-radius: 8px;
    width: 85%;
    height: 135px;
    transition: .5s;
}

.contact_box:hover {
    border: 2px solid var(--tertiary-color) !important;
    box-shadow: -1px 14px 18px rgba(0, 0, 0, 0.11);
}

.contact_icon_box {
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    transition: .5s;
}

.contact_icon_box:hover {
    color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
    box-shadow: 1px 1px 10px var(--tertiary-color) !important;
}

.contact_form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact_form:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    right: -28px;
    top: 50%;
    width: 1px;
    height: 100%;
    background-color: #f1f1f3;
    transform: translateY(-50%);
}

/* SECTION LOGIN OR SIGNUP */
.owl-carousel.owl-drag .owl-item {
    padding: 0 !important;
}

.testimonial {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.owl-carousel .owl-item img {
    display: block;
    width: 42% !important;
    margin-right: 8px;
}

.login-box {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.11);
}

.cards_button_box {
    height: 40px;
    width: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    transition: .5s;
}

.cards_button_box:hover {
    color: var(--primary-color);
    background-color: #f4f3f3 !important;
}

.login_form_box {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    width: 85%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.11);
}

.loginForm input {
    padding: 10px !important;
}

.form-check {
    display: flex;
    padding-left: 10px !important;
    margin: 0 !important;
    align-items: center;
    min-height: 0 !important;
    gap: 8px;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
    padding: 7px !important;
}

.form-check-input:checked {
    padding: 7px !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.loginForm button {
    width: 100%;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.11) !important;
}

form button {
    width: 100% !important;
}

.seprator .or {
    color: #bdbdbd;
}

.seprate_line {
    background-color: #f0eeee;
    width: 50%;
    height: 1px;
}

.google {
    background-color: #fcfcfc !important;
    border: 2px solid #f7f7f7 !important;
}

.google:hover {
    background-color: #f4f3f3 !important;
    border: 2px solid #f4f3f3 !important;
}

.google img {
    width: 7%;
    margin-right: 10px;
}

.lastLine {
    font-size: 13px;
    margin-bottom: 0 !important;
}

.lastLine a {
    color: black;
    margin-left: 3px;
}

.lastLine a img {
    width: 10px;
    margin-left: 4px;
    margin-bottom: 4px;
    object-fit: cover;
}

.eye_icon {
    position: relative;
}

.eye_icon i {
    position: absolute;
    top: 50px;
    right: 25px;
}

.privacy_policy {
    color: #656567;
    margin: 0 4px;
    font-size: 13px;
}

.privacy_policy:hover {
    color: #494949;
    font-weight: 450;
}